{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Beschikbaarheid doorgeven
{% endblock %}

{% block body %}
<style type="text/css">
  span {
    background-color: white;
  }
</style>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/daterangepicker.min.css') }}">
<script src="{{ url_for('static', filename='js/jquery.daterangepicker.js') }}"></script>
<script>
  $(function(){
    $("#date").dateRangePicker({
  getValue: function()
  {
    return this.innerHTML;
  },
  setValue: function(s)
  {
    this.innerHTML = s;
  }
});
  });
</script>

<form action="/beschikbaarheid" method="POST" name="beschikbaarheid">
  <span id="date" name="brutus">Beschikbaarheid selecteren</span>

  <button type="submit">Beschikbaarheid doorgeven</button>
</form>
{% endblock %}